.cart-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  list-style: none;
  max-width: 720px;
  width: 100%;
  margin-top: 48px;

  li {
    display: flex;
    gap: 8px;
    justify-content: space-between;
    align-items: center;
    background-color: #e3e3e3;
    padding: 8px 12px;
    border-radius: 8px;

    p {
      color: #121221;
      font-weight: semibold;
    }
  }
}

.empty-cart {
  font-weight: semibold;
  margin-top: 20px;
}
